
textarea {
	resize: none;
}

.post-card {
	width: 1000px;
	background-color: #eee;
	margin-top: 20px;
	text-align: left;
	padding: 10px;
	position: relative;
}

#posts {
	list-style-type: none;
}

.poster {
	font-size: 1.5em;
}

.actions-container {
	 width: 100%;
	 height: 30px;
	 position: relative;
}


.edit-post {
	float: left;
	margin-right: 7px;
}

.post-controls {
	padding-left: 20px;
}

.placeholder {
	max-height: 600px;
	width: 1150px;
	overflow: auto;
}

.placeholders {
	width: 100%;
}

#post-input {
	width: 1000px;
	height: 80px;
	margin: 20px 40px 10px 40px;
}

#submit {
	float: right;
	width: 100px;
	background-color: #428bca;
	border: none;
	color: white;
	font-family: Helvetica;
	font-size: 14px;
}

.full-width {
	width: 1000px;
	margin-left: 15px;
}

.dropdown {
	background-color: #eee;
	margin-left: -10px;
	position: relative;
}

img {
	border-radius: 0% !important;
	margin: 20px;
}

.comment-container {
	padding: 10px;
	padding-left: 40px;
	display: inline-block;
	position: relative;
}

.comment-container p {
	position: relative;
}

.comment-input {
	height: 2em;
	width: 850px;
	margin-left: 20px;
}

.comment-submit {
	width: 100px;
	height: 2em;
	background-color: #428bca;
	border: none;
	color: white;
	font-family: Helvetica;
	font-size: 14px;
	margin-top: -2em;
	margin-left: 880px;
}

.comment-post {
	all: unset;
	position: relative;
	width: 10%;
	margin-left: 45%;
	text-align: center;
	color: rgba(66, 139, 202, 0.5) !important;
}

.comment-post:hover {
	color: rgba(66, 139, 202, 1) !important;
}

.right-sidebar {
	width: 400px;
	height: 100%;
	background-color: #f5f5f5;
	right: 0px;
	top: 50;
	position: absolute;
}


.right-sidebar ul {
	list-style-type: none;
}

.right-sidebar li {
	width: 100%;
	background: red;
}

.login {
	color: #428bca !important;
}

.arrow, .comments-p {
	color: inherit !important;
}

.edit, .trash{
	color: #aaa;
}

.edit:hover, .trash:hover {
	color: #428bca;
}